.App {
  text-align: center;
}

.App-logo {
  display: none;
  height: 40vmin;
  pointer-events: none;
}

h1 {
  padding: .66rem 0;
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 1.8rem;
  color: black;
}

@media only screen and (min-width: 1200px) {
  body {
    background: url("../../Assets/images/Table.png");
    background-size: 100% 100vh;
  }
}
@media only screen and (max-width: 1200px) {
  body {
    background: darkgreen;
  }
}

