.App {
  text-align: center;
}

.App-logo {
  display: none;
  height: 40vmin;
  pointer-events: none;
}

h1 {
  padding: .66rem 0;
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 1.8rem;
  color: black;
}

.App-header {
  background-color: green;
  border-bottom: black solid 2px;
  min-height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
body {
  background-color: darkgreen;
}

